.container {
    padding: 0 2rem;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .searchBar {
        margin: 1rem 0;
        border-radius: 5px;
        border: 2px grey solid;
        padding: 10px;
        outline: none !important;

        transition: border .2s;

        &:focus {
            border: 2px solid rgb(182, 55, 55);
        }
    }

    .loading {
        font-size: 3rem;
        color:white;
        text-align: center;
    }
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-height: 100%;
    gap: 10px;

    .card {
        background: rgb(48, 48, 48);
        color: white;
        cursor: pointer;
        height: 100%;

        img {
            width: 100%;
            height: 60%;
        }

        transition: opacity 0.2s;

        &:hover {
            opacity: 50%;
        }

        .info {
            display: flex;
            flex-direction: column;
            padding-bottom: 1rem;
            text-align: center;

            span {
                font-weight: 600;
                font-size: 1.125rem;
                padding-top: 20px;
            }

            p {
                color: rgb(202, 202, 202);
            }

        }

    }
}

@media(max-width: 1080px) {
    .cardsContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 800px) {
    .cardsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 400px) {
    .cardsContainer {
        grid-template-columns: 1fr;
    }
}