.container {
    padding: 2rem 2rem;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .imgContainer {
        display: flex;
        justify-content: center;

        img {
            width: 30%;
            margin: .7rem 0;
            text-align: center;
        }
    }



    form {
        display: flex;
        flex-direction: column;

        label {
            color: white;
            text-transform: capitalize;
            font-weight: 600;
        }

        input {
            margin: .7rem 0;
            border-radius: 5px;
            border: 2px grey solid;
            padding: 10px;
            outline: none !important;
            color: black;

            transition: border .2s;

            &:focus {
                border: 2px solid rgb(182, 55, 55);
            }
        }

        .buttonsContainer {
            display: flex;

            button {
                margin: 1rem 0;
                padding: 10px;
                border: none;
                color: white;
                font-weight: 500;
                flex: 1;
                transition: background .3s;

                &+button {
                    margin-left: 10px;
                }
            }

            button[type=button] {
                background: rgb(75, 75, 75);

                &:hover {
                    background: darken(rgb(75, 75, 75), 10);
                }
            }

            button[type=submit] {
                background: rgb(0, 153, 255);

                &:hover {
                    background: darken(rgb(0, 153, 255), 10);
                }

                &.save {
                    background: green;

                    &:hover {
                        background: darken(green, 10);
                    }
                }
            }
        }
    }
}

@media(max-width: 800px) {
    .buttonsContainer {
        flex-direction: column;

        button {
            margin: .5rem 0 !important;

            &+button {
                margin-left: 0px !important;
            }
        }
    }
}